


.Main-Panel
{
margin-top:100px;	
	
}



body
{
	
}

.box
{
float:left;
width:33%;
font-size:18px;
padding-right:20px;
}

.center
{
margin-top:50px;
margin-left:auto;
margin-right:auto;	
width:85%;
font-family: 'Lora', serif;
padding-left: 100px;
padding-right: 100px;
font-size: 41px;
}

.center2
{
margin-top:50px;
margin-left:auto;
margin-right:auto;	
width:85%;
font-family: 'Lora', serif;
font-size:26px;
padding-left: 100px;
padding-right: 125px;
}


.indicators
{
	padding-left:100px;
	padding-right:100px;
	font-family: 'Lora', serif;
	margin-left:auto;
	margin-right:auto;
	width:85%;
	margin-top: 25px;
	height:200px;
}

.chart
{
margin-left:auto;
margin-right:auto;
width:85%;
margin-top:150px;	
}

.svg-container
{
margin-left:auto;
margin-right:auto;
}

.Absolute
{
position: absolute;	
top:600px;	
width:100%;
}

.row-right
{
float: right;	
}

.row-right2
{
	float: right;
}
.btn-warning
{
	margin-bottom: 5px;
}

