@charset "UTF-8";


body
{
margin: 0px;
padding: 0px;

}


.form-main
{ 
	position:relative;
	z-index:3 ;
	padding-top: 325px ;
	margin-left: auto;
	margin-right: auto;
 width: fit-content;
}

.form
{
	border: 2px solid;
    border-radius: 25px;
	width: 500px; 
	height: 40px;
	positon:relative;
}

input[type=text]:focus
{
	box-shadow: 0 1px 1px rgba(229, 103, 23, 0.00000075) inset, 0 0 8px rgba(229, 103, 23, 0.000006);
    outline: 0 none;
}

@media (min-width: 0px)

{

.main-theme

{

width: 100%;

height: 500px;

position: relative;

background-position: center !important;

background-size: cover!important;

background-position: center !important;

background-attachment: fixed !important;

background-image: url('GPW.jpg');

}

}



@media (min-width: 500px)

{

.main-theme

{

height: 662px;

}

}



@media (min-width: 1600px)

{

.main-theme

{

height: 800px;

}

}



@media (min-width: 0px)

{

.black-box
{

width: 100%;

height: 662px;

top:0;

left:0;

right: 0;

left: 0;

border-radius: 6px;

position: absolute;

opacity: 0.6;
background-color: #242F33;
}

}



@media (min-width: 500px)

{

.black-box

{

height: 662px;

}

}



@media (min-width: 1600px)

{

.black-box

{

height: 800px;

}

}

button[type=submit]
{ 
    position: absolute;
    background: 0 0;
    border: none;
    color: #717578;
    font-size: 30px;
    top: 4px;
    right: 8px; 
    cursor: pointer;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }


.ui-autocomplete
{
top: 363px !important;
left: 33% !important;
}

.form-style
{
	width:400px !important;
	margin-top:250px;	
	margin-bottom: 0px !important;
}

.ui-widget
{

}